-# ", find me in app/views/user_mailer/notify.html.haml"
%h1 ¡Tu Registro ha sido confirmado Satisfactoriamente!

%h3
  = "Hola #{@user.name}, ¡Bienvenidos!"

%p A partir de este momento formas parte de nuestra familia Supremacy, con la que podras disfrutar de los beneficios que te mencionamos a continuación:

%ul{class: 'list-group'}
  %li{class: 'list-group-item'} Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium, exercitationem porro! Dolor, neque? Necessitatibus vitae facilis incidunt fugiat?
  %li{class: 'list-group-item'} Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum eveniet et fugiat atque itaque maxime quibusdam reiciendis accusantium! Quisquam, excepturi?
  %li{class: 'list-group-item'} Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis accusantium quis, nobis placeat quaerat autem voluptatem consectetur eaque quo. Debitis.
  %li{class: 'list-group-item'} Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum possimus quia ab veniam quod consectetur illum architecto optio non aliquid!

%h2 ¡Gracias por preferirnos!
%h4 Supremacy Team
