.container
  .row.justify-content-center
    .col-md-8
      %h2.my-4.form-title.text-center Mis Posts
      =link_to articles_path, class:'btn btn-outline-success btn-sm' do
        Regresar
      - @articles.each do |article|
        .card.mt-2
          %h3{class:'card-header text-center form-title'}=article.title
          .card-body
            %p{class:'card-text'}=raw article.description
            .float-right
              =link_to edit_article_path(article.id), class:'btn btn-outline-primary btn-sm' do
                Editar
              %span
              =link_to article_path(article.id), method: 'delete', data: {confirm: '¿Esta seguro de eliminar el usuario seleccionado?'}, class:'btn btn-outline-danger btn-sm' do
                Eliminar
      .mt-3= will_paginate @articles
