// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background-color: #dfdbd2;
}

.body_top {
  padding-top: 85px;
}

.pagination {
  justify-content: center;
}

#bg-dark {
  background-color: #028fcc !important;
}

#bg-dark li:hover{
  background-color: rgba(0,0,0,.2);
}

.navbar-blog li a {
  color: #fff !important;
  font-size: 14px;
}

.empty-state{
  opacity: 0.7;
}

.footer-blog {
  background-color: #028fcc;
  padding: 25px 0 10px;
  color: #fff;
}

.footer-blog a{
  color: #fff;
  text-decoration: none;
}

#picturehover:hover{
  background-color: transparent !important;
}