// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile{
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.profile-show{
  border-radius: 15%;
  width: 100px;
  height: 100px;
}

#profile__link{
  padding: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  color: #666 !important;
  text-align: center;
}

.card-back{
  background: linear-gradient(#f37335, #fdc830) !important;
}

.card-profile{
  display: block;
  margin: auto;
  opacity: 0.5;
}

.top_card {
  padding-top: 85px;
}

.profile_background{
  background-image: image-url('profileback.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
